<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Profile</title>
</head>
<body>

<% if (status){ %>
<p>You've successfully logged in. <a href="/">Go back home</a></p>
<% } else {%>
<p> <a href="/">Go back home</a></p>
<% } %>

<script src="javascripts/javascript.js"></script>
</body>
</html>