<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Profile</title>
</head>
<body>
<nav class="top_banner">
    <div id="left-side-banner">
        <div>LSA</div>

        <div><a href = "/">Home</a></div>

        <div><a href = "about.html">About</a></div>
    </div>
    </div>
</nav>

<div id="login-registration-container">
    <div id="login-window">
        <h3>Login</h3>
        <form action="/users/login" method="post">
            <input type="email" placeholder="Email" name="email">
            <p></p>
            <input type="password" placeholder="Password" name="password">
            <p></p>
            <input type="submit" value="Login">
        </form>
    </div>

    <div id="registration-window">
        <h3>Registration</h3>
        <form action="/users/register" method="post">
            <input type="text" placeholder="Name" name="name">
            <p></p>
            <input type="email" placeholder="Email" name="email">
            <p></p>
            <input type="password" placeholder="Password" name="password">
            <p></p>
            <input type="submit" value="Register">
        </form>
    </div>
</div>

<script src="javascripts/javascript.js"></script>
</body>
</html>